<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.example.esercitazionespringboot"/>

    <bean id="greetingController" class="com.example.esercitazionespringboot.helloworld.controllers.GreetingController">
        <property name="helloWorldService" ref="helloWorldServiceDefault"/>
        <property name="helloWorldServiceFrench" ref="french"/>
        <property name="helloWorldServiceGerman" ref="helloWorldServiceGerman"/>
    </bean>

    <bean id="helloWorldFactory" class="com.example.esercitazionespringboot.helloworld.services.HelloWorldFactory"/>

    <bean id="french" factory-bean="helloWorldFactory" factory-method="createHelloWorldService">
        <constructor-arg value="fr"/>
    </bean>

    <bean id="helloWorldServiceGerman" factory-bean="helloWorldFactory" factory-method="createHelloWorldService">
        <constructor-arg value="de"/>
    </bean>

    <bean id="helloWorldServicePolishImpl" factory-bean="helloWorldFactory" factory-method="createHelloWorldService">
        <constructor-arg value="pl"/>
    </bean>

    <bean id="helloWorldServiceRussianIml" factory-bean="helloWorldFactory" factory-method="createHelloWorldService">
        <constructor-arg value="ru"/>
    </bean>

    <beans profile="english">
        <bean id="helloWorldServiceDefault" factory-bean="helloWorldFactory" factory-method="createHelloWorldService"
              primary="true">
            <constructor-arg value="en"/>
        </bean>
    </beans>

    <beans profile="spanish">
        <bean id="helloWorldServiceDefault" factory-bean="helloWorldFactory" factory-method="createHelloWorldService"
              primary="true">
            <constructor-arg value="es"/>
        </bean>
    </beans>
</beans>